<div class = "container">
  <div class="jumbotron" style="width: 50%; background-color:#d9d9d9; border: 1px solid gray;
    border-radius: 10px;">	
	<h2 class = "page-header" style="background-color:#006080; color:white;height: 50px; border: 1px solid white; border-radius: 10px;" align="center">Edit Users</h2>
	<form (submit) = "updateData()">
		<div class = "form-group">
			<label>Name</label>
			<input type="text" [(ngModel)] = "full_name" name ="full_name" class = "form-control" required>
		</div>
		<div class = "form-group">
			<label>Phone No.</label>
			<input type="text" [(ngModel)] = "phone" name ="phone" class = "form-control" required>
		</div>
		<div class = "form-group">
			<label>Email</label>
			<input type="text" [(ngModel)] = "email" name ="email" class = "form-control" required>
		</div>
		<div class = "form-group">
			<label>Password</label>
			<input type="text" [(ngModel)] = "password" name ="password" class = "form-control" required>
		</div>
		<h2 class = "page-header" style="background-color:#006080; color:white;height: 50px; border: 1px solid #4d4d4d; border-radius: 10px;" align="center">Grant Access</h2>
		<div class = "form-group">
			<label>Level</label>
			<input type="text" [(ngModel)] = "state" name ="state" class = "form-control" required>
		</div>
		<br>
        <div class = "form-group">
			<input type="submit" class ="btn btn-success" value = "Update">
        </div>
        <div class = "form-group">
			<input type="button" (click) = "redirectBack()" value= "back" class ="btn btn-warning" style="border: 1px solid #4d4d4d;">
        </div>
	</form>
  </div>
</div>