<nav class="navbar navbar-inverse" style="background:#404040;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" >
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://ucsc.cmb.ac.lk/">UCSC</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#">About</a></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!authService.loggedIn()"><a [routerLink]="['/login']">Login</a></li>

        <li *ngIf="authService.loggedIn()" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello {{user.getAuthName()}} <span class="caret"></span></a>
        
          <ul class="dropdown-menu">
            <li *ngIf="authService.isStaff() || authService.isAdmin() || authService.isHead()"><a [routerLink]="['/profile']">Profile</a></li>
            <li *ngIf="authService.isStaff() || authService.isAdmin()"><a [routerLink]="['/requestLeaves']">Request Leaves</a></li>
            <li *ngIf="authService.isStaff() || authService.isAdmin()"><a [routerLink]="['/leaveHistory']">History of Leaves</a></li>
            <li *ngIf="authService.isAdmin()"><a [routerLink]="['/manageUsers']">Manage Staff</a></li>
            <li *ngIf="authService.isAdmin() || authService.isHead()"><a [routerLink]="['/addPost']">Add Post</a></li>
            <li *ngIf="authService.isAdmin()"><a [routerLink]="['/reportGenaration']">Report Genaration</a></li>
            <li *ngIf="authService.isHead()"><a [routerLink]="['/manageAdmin']">Manage Users</a></li>
            <li *ngIf="authService.isHead()"><a [routerLink]="['/manageLeaves']">Manage Leaves</a></li>
            <li *ngIf="authService.isHead()"><a [routerLink]="['/controlDates']">Control Dates</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" (click)="logoutUser()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


