<br><br>
<div class = "container" align="center">
  <div class="jumbotron" style="width: 50%; background-color:#808080; border: 1px solid white;
    border-radius: 10px;">	
	<h2 class = "page-header" style="background-color:#4d4d4d; color:white;height: 50px; border: 1px solid white; border-radius: 10px;" align="center">Login</h2>
	<form (submit) = "loginUser()">
		<div class = "form-group">
			<br>
			<input type="email" [(ngModel)] = "email" name ="email" class = "form-control" placeholder="Enter your email">
		</div>
			<div class = "form-group">
			<br>
			<input type="password" [(ngModel)] = "password" name ="password" class = "form-control" placeholder="Enter your password">
		</div>
		<br>
		<input type="submit" class ="btn btn-success" value = "Login">
	</form>
 </div>	
</div>