input[type=text] {
    border: 1px solid #4d4d4d;
    border-radius: 6px;
    background-color: white;
    color: black;
    width: 100%;
}

input[type=submit] {
    border: 1px solid #4d4d4d;
    border-radius: 6px;
    color: black;
}

textarea{
    border: 1px solid #4d4d4d;
    border-radius: 6px;
    background-color: white;
    color: black;
    width: 100%;
}