<div class = "container">
	<h2 class = "page-header"> Request Leaves</h2>
	<form (submit) = "request()">
		
		<div class = "form-group">
			<label>Date</label>
			<input type="text" bsDaterangepicker [(ngModel)] = "date" name ="date" class = "form-control" required>
		</div>
		<div class = "form-group">
			<label>Reason</label>
			<input type="text" [(ngModel)] = "reason" name ="reason" class = "form-control" required>
		</div>
		<div class = "form-group">
			<label>More Text</label><br>
			<textarea [(ngModel)]='describe' name ="describe" rows="3" cols="10"></textarea>
		</div>
		<input type="submit" class ="btn btn-success" value = "Submit">
	</form>
</div>
<hr>
<div class = "container">
	<table>
			<tr style="background:#4d4d4d; color:white;">
			   <th>Date</th>
			   <th>Reason</th>
			   <th>Describe</th>
			   <th>Delete</th>
			</tr>
			  
			<tr *ngFor = "let request of requests">
			   <td>{{request.date.split(',')[0] | date}} - {{request.date.split(',')[1] | date}}</td>
			   <td>{{request.reason}}</td>
			   <td>{{request.describe}}</td>
			   <th><input type="button" (click) = "deleteRequest(request._id)" value= "Delete" class ="btn btn-danger" style="border: 1px solid #4d4d4d;"></th>
			</tr>
			
	</table>
</div>
