<div class = "container">
	<h2 class = "page-header"> Request Leaves</h2>
	<form (submit) = "request()">
		
		<div class = "form-group">
			<label>Date</label>
			<input type="date" [(ngModel)] = "date" name ="date" class = "form-control" required>
		</div>
		<div class = "form-group">
			<label>Reason</label>
			<input type="text" [(ngModel)] = "reason" name ="reason" class = "form-control" required>
		</div>
		<div class = "form-group">
			<label>More Text</label><br>
			<textarea [(ngModel)]='describe' name ="describe" rows="6" cols="100"></textarea>
		</div>
		<input type="submit" class ="btn btn-success" value = "Submit">
	</form>
</div>
<hr>
<div class = "container">
	<div *ngFor = "let request of requests">
		<div class = "col-md-3">
			{{request.date}}
		</div>
		<div class = "col-md-3">
			{{request.reason}}
		</div>
		<div class = "col-md-3">
			{{request.describe}}
		</div>
		<div class = "col-md-3">
			<input type="button" (click) = "deleteRequest(request._id)" value= "Delete" class ="btn btn-danger">
			<br><br>
		</div>
	</div>
</div>