<div class = "container">
	<h2 class = "page-header"> Add Post</h2>
	<form (submit) = "addPost()">
		<div class = "form-group">
			<label>About</label>
			<input type="text" [(ngModel)] = "about" name ="about" class = "form-control" required>
		</div>
		<div class = "form-group">
			<label>Date</label>
			<input type="date" [(ngModel)] = "date" name ="date" class = "form-control" required>
		</div>
		<div class = "form-group">
			<label>Content</label><br>
			<textarea [(ngModel)]='content' name ="content" rows="6" cols="100"></textarea>
		</div>
		
		<input type="submit" class ="btn btn-success" value = "Submit">
	</form>
</div>
<hr>
<div class = "container">
	<div *ngFor = "let post of posts">
		<div class = "col-md-2">
			{{post.name}}
		</div>
		<div class = "col-md-2">
			{{post.post}}
		</div>
		<div class = "col-md-3">
			{{post.date}}
		</div>
		<div class = "col-md-3">
			{{post.about}}
		</div>
		<div class = "col-md-1">
			<input type="button" (click) = "deletePost(post._id)" value= "Delete" class ="btn btn-danger">
			<br><br>
		</div>
		<div class = "col-md-1">
			<input type="button" (click) = "updatePost(post._id)" value= "Edit" class ="btn btn-warning">
			<br><br>
		</div>
	</div>
</div>
