<div class = "container">
  <div class="jumbotron" style="width: 50%; background-color:#808080; border: 1px solid white;
    border-radius: 10px;">	
	<h2 class = "page-header" style="background-color:#4d4d4d; color:white;height: 50px; border: 1px solid white; border-radius: 10px;" align="center">Add News</h2>
	<form #frm="ngForm" (ngSubmit) = "addPost(frm)">
		<div class = "form-group">
			<label>About</label>
			<input type="text" name ="about" class = "form-control" ngModel #aboutPost="ngModel" required maxlength="30" minlength="5" placeholder="Headline">
		</div>
		    <div *ngIf="aboutPost?.touched && aboutPost.errors" class="alert alert-danger" style="width: 100%;">
				<div *ngIf="aboutPost.errors?.required">
					Headline is Required
				</div>
				<div *ngIf="aboutPost.errors?.minlength">
					Invalid Headline
				</div>
			</div>
		<div class = "form-group">
			<label>Date</label>
			<input type="text" bsDatepicker name ="date" class = "form-control" ngModel #datePost="ngModel" required placeholder="Select date">
		</div>
		    <div *ngIf="datePost?.touched && datePost.errors" class="alert alert-danger" style="width: 100%;">
				<div *ngIf="datePost.errors?.required">
					Date is Required
				</div>
			</div>
		<div class = "form-group">
			<label>Content</label><br>
			<textarea name ="content" rows="3" cols="10" class = "form-control" ngModel #contentPost="ngModel" required maxlength="200" placeholder="Content......(limit 200)">></textarea>
		</div>
		    <div *ngIf="contentPost?.touched && contentPost.errors" class="alert alert-danger" style="width: 100%;">
			    <div *ngIf="contentPost.errors?.required">
					Content is Required
			    </div>
		    </div>
		
		<button type="submit" name="button" class ="btn btn-success" [disabled]="frm.invalid">Submit</button>
	</form>
  </div>
</div>
<hr>
<div class = "container">
<h2 class = "page-header">All News List</h2>
<br>
	<table>
			<tr style="background:#4d4d4d; color:white;">
			   <th>Name</th>
			   <th>Post</th>
			   <th>Date</th>
			   <th>About</th>
			   <th>Delete</th>
			   <th>Update</th>
			</tr>
			  
			<tr *ngFor = "let post of posts">
			   <td>{{post.name}}</td>
			   <td>{{post.post}}</td>
			   <td>{{post.date | date}}</td>
			   <th>{{post.about}}</th>
			   <th><input type="button" (click) = "deletePost(post._id)" value= "Delete" class ="btn btn-danger" style="border: 1px solid #4d4d4d;"></th>
			   <th><input type="button" (click) = "updatePost(post._id)" value= "Edit" class ="btn btn-warning" style="border: 1px solid #4d4d4d;"></th>
			</tr>
			
	</table>
</div>
