<div class = "container">
<h2>All Requested Leaves</h2>
<br><br>	
	<table>
			<tr>
			   <th>Name</th>
			   <th>Post</th>
			   <th>Date</th>
			   <th>Reason</th>
			   <th>Describe</th>
			   <th>View</th>
			   <th>Accept</th>
			   <th>Delete</th>
			</tr>
			  
			<tr *ngFor = "let request of requests">
			   <td>{{request.name}}</td>
			   <td>{{request.post}}</td>
			   <td>{{request.date}}</td>
			   <th>{{request.reason}}</th>
			   <th>{{request.describe}}</th>
			   <th><input type="button" (click) = "viewUser(request.email)" value= "History" class ="btn btn-success"></th>
			   <th><input type="button" (click) = "acceptRequest(request)" value= "Accept" class ="btn btn-warning"></th>
			   <th><input type="button" (click) = "deleteRequest(request)" value= "Cancel" class ="btn btn-danger"></th>
			</tr>
			
	</table>
</div>

