<div class = "container">
<h2 class = "page-header">All Requester Leaves</h2>
<br><br>	
	<table>
			<tr style="background:#4d4d4d; color:white;">
			   <th>Name</th>
			   <th>Post</th>
			   <th>Date</th>
			   <th>Reason</th>
			   <th>Describe</th>
			   <th>View</th>
			   <th>Accept</th>
			   <th>Delete</th>
			</tr>
			  
			<tr *ngFor = "let request of requests">
			   <td>{{request.name}}</td>
			   <td>{{request.post}}</td>
			   <td>{{request.date.split(',')[0] | date}} - {{request.date.split(',')[1] | date}}</td>
			   <td>{{request.reason}}</td>
			   <td>{{request.describe}}</td>
			   <td><input type="button" (click) = "viewUser(request.email)" value= "History" class ="btn btn-success" style="border: 1px solid #4d4d4d;"></td>
			   <td><input type="button" (click) = "acceptRequest(request)" value= "Accept" class ="btn btn-warning" style="border: 1px solid #4d4d4d;"></td>
			   <td><input type="button" (click) = "deleteRequest(request)" value= "Cancel" class ="btn btn-danger" style="border: 1px solid #4d4d4d;"></td>
			</tr>
			
	</table>
</div>

