<div class = "container" id="content" #content>
	<div *ngIf="user">
		<h1 class = "page-header">Leaves of {{user.full_name}}</h1>
		<br>
		<h3>Post : {{user.post}}</h3>
		<h3>Contact : {{user.phone}}</h3>
		<h3>Email : {{user.email}}</h3>
		<br><br>
		
		<table>
			<tr style="background:#4d4d4d; color:white;">
			   <th>Date</th>
			   <th>Reason</th>
			   <th>Describe</th>
			   <th>State</th>
			</tr>
			  
			<tr *ngFor = "let hry of history">
			   <td>{{hry.date.split(',')[0] | date}} - {{hry.date.split(',')[1] | date}}</td>
			   <td>{{hry.reason}}</td>
			   <td>{{hry.describe}}</td>
			   <td style="color:red;">{{hry.state}}</td>
			</tr>
			
		</table>
		<br><br>

		<div class = "col-md-3">
				<input type="button" (click) = "redirectBack()" value= "back" class ="btn btn-success" style="border: 1px solid #4d4d4d;">
	    </div>
	    <div class = "col-md-3">
				<input type="button" (click) = "downloadPFD()" value= "Download PDF" class ="btn btn-success" style="border: 1px solid #4d4d4d;">
	    </div>
	</div>    
</div>









