<div class = "container">
<h1 class = "page-header">Site News</h1>	
	<div *ngFor = "let post of posts">
	  <div class="row" style="background-color: #d9d9d9;height: 400px;border: 1px solid #4d4d4d;
      border-radius: 10px;">
	   <div class = "row">
	   	  <div class = "col-md-12">
			<h1>{{post.about}}</h1>
		  </div>  
	   </div>	
       <div class = "row">
		  <div class = "col-md-1">
			<h3>Post</h3>
		  </div>
		  <div class = "col-md-1">
			<h3>by</h3>
		  </div>
		  <div class = "col-md-1">
			<h3>{{post.name}}</h3>
		  </div>
		  <div class = "col-md-1">
			<h3>({{post.post}})</h3>
		  </div>
		  <div class = "col-md-1">
			<h3>On</h3>
		  </div>
		  <div class = "col-md-4">
			<h3>{{post.date | date}}</h3>
		  </div>	
	   </div>
	   <br><br>
	   <div class = "row">
	   	  <div class = "col-md-12">
	   	    <p>{{post.content}}</p>
	   	  </div>  
	   </div>
	  </div>
	  <br><br>
   </div>	
</div>
